

@main(None, "Scala News") {
       
    <div id="login">
		<form name="login_form">
			<div>
				<label for="username"> username </label>
				<input type="text" name="username" id="username">
			</div>
			<div>
				<label for="password"> password </label>
				<input type="password" name="password" id="password"><br>
			</div>
			<div>
				<input value="1" type="checkbox" name="register">create account<br>
			</div>
			<div>
				<input value="Login" type="submit" name="do_login">
			</div>
		</form>
		
		<div id="errormsg" />

		<a href="/reset-password">reset password</a>
		
		<script>
            $(function() {
                $("form[name=login_form]").submit(login);
            });
        </script>
	</div> 
	
}