@(user:Option[User], title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    </head>
    <body>
  		<div class="container">
	    	<header>
	    		<h1>
	    			<a href="@routes.Application.index"> Scala News </a>
	    		</h1>
	    		<nav>
	    			<a href="@routes.Application.index"> top </a>
					<a href="/latest/0TODO"> latest </a>
					<a href="@routes.Application.submit"> submit </a>
					@if(user.isDefined) {
						<a href="/repliesTODO"> replies </a>
					}
				</nav>    		
	    		<nav id="account">
	    		@user match { 
	    			case None => {
	    				<a href="@routes.Application.login"> Login / Register </a>	    			
	    			}
	    			case Some(u) => {	    			
		    			<a href="/user/@u.username"> @u.username (@u.karma)</a> |
		    			<a href="@routes.Application.logout(u.apisecret)"> Logout </a>
	    			}
	    		}
	    		</nav>
	    	</header>
	    	
        	@content
        </div>
        
		<footer>
			<a href="http://github.com/nremond/funnews">source code</a> | 
			<a href="/rss">rss feed</a>
		</footer>
        
		@if(user.isDefined) { 
	        <script>var apisecret = '@user.get.apisecret';</script>
	    }
        <script>setKeyboardNavigation();</script>
    </body>
</html>
